@using Domain.Entities
@model IEnumerable<Component>

@{
    ViewBag.Title = "Components";
}

@foreach (var p in @Model)
{
    <div>
        <h1>@p.ComponentName</h1>
        @*<p>@p.ComponentId</p>*@
        <p>@p.ComponentDescription</p>
    </div>
}