
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dashboard</h2>
 
    <script>
        window.onload = function () {

            var chart = new CanvasJS.Chart("checkLists", {
                theme: "light1", // "light1", "light2", "dark1", "dark2"
                exportEnabled: true,
                animationEnabled: true,
                title: {
                    text: "CheckLists execution statistic"
                },
                data: [{
                    type: "pie",
                    startAngle: 180,
                    toolTipContent: "<b>{label}</b>: {y}%",
                    showInLegend: "true",
                    legendText: "{label}",
                    indexLabel: "{label} - {y}%",
                    dataPoints: @Html.Raw(ViewBag.CheckLists)
                }]
            });
            chart.render();

            var chart1 = new CanvasJS.Chart("testCases", {
                theme: "light2", // "light1", "light2", "dark1", "dark2"
                exportEnabled: true,
                animationEnabled: true,
                title: {
                    text: "Test Cases execution statistic"
                },
                data: [{
                    type: "pie",
                    startAngle: 180,
                    toolTipContent: "<b>{label}</b>: {y}%",
                    showInLegend: "true",
                    legendText: "{label}",
                    indexLabel: "{label} - {y}%",
                    dataPoints: @Html.Raw(ViewBag.TestCases)
                }]
            });
            chart1.render();
        }
    </script>

<div id="checkLists" style="height: 300px; width: 100%;"></div>
<br/>
<div id="testCases" style="height: 300px; width: 100%;"></div>
<script src="~/Scripts/canvasjs.min.js"></script>	
                 
