<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Manual Test Management System</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/FooterBottom.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <div id="wrapper">
        @{
            Html.RenderPartial("_Header");
        }

        <div class="container body-content">
            @RenderBody()
        </div>
        <footer>
            <hr />
            <p style="margin-left: 40%">&copy; @DateTime.Now.Year - Manual Test Management System</p>
        </footer>
    </div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/main.js"></script>

</body>
</html>